/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --section-heading-color: #ff0070;
  --accent-color: #ff0070;
  --nav-color:#ff0070;
  --main-bg-color: #000028;
  --main-heading-color: #000028;
  --main-text-color:#F1B2CE;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  --nav-hover-color: 1px solid rgba(255 0 112 / 0.4);
  --link-color: #FF0070;
  --background-image:  url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--main-bg-color);
}

.theme-dark .rec_empty {
  display: block;
}
